<div class="container">
    <button class="button" (click)="orderByName()">Order by name</button>
    <button class="button" (click)="orderByDate()">Order by date</button>
    <button class="button" (click)="orderByPriority()">Order by priority</button>
    <button class="button" (click)="refreshArray()">Refresh</button>
    <div class="container-todo">
        <app-todo-list-element  
        *ngFor="let todo of todosArray"
         [todo]="todo"
         (onTodoCompleted)="manageTodoEmission($event)">
        </app-todo-list-element>
    </div>

</div>


